# Module.config
# For more info on how to use this file, visit http://beaverbrewer.com/module-config

Module Name: Two-Column Text Editor
Module Slug: two-column-text-editor
Module Version: 1.0
Short Description: A single module which provides two WYSIWYG editors, allowing for side-by-side content panels within a single page builder column.
Author Name: Ryan Benhase
Author URL: http://ryanbenhase.com
Update URL: http://beaverbrewer.com/bb-updates/two-column-text-editor
Download ZIP: http://beaverbrewer.com/bb-downloads/two-column-text-editor
More Info URL: http://beaverbrewer.com/modules/two-column-text-editor
